<%-include ("partials/header.ejs")%>
<form action="/rental_income_HM" method="post" class="center">
	<div class="form-floating mb-3">
		<input type="number" name="how_many" class="form-control" <%=x.requ%>>
		<label># of unit <b>types</b></label><br><br>
	</div>
	<button type="submit" class="btn btn-primary">continue</button>
</form>	
<%-include ("partials/footer.ejs")%> 